.modals-header {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #131313;
    justify-content: center;
    display: flex;
    margin: 0;
}

.modal-header {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    width: 322px;
    display: flex;
    text-align: center;
    margin: 0;
}

.modals-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #131313;
    width: 448px;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 32px;
}

.modal-input {
    width: 368px;
    margin-bottom: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 16px;
    border: 1px solid #84A178;
    border-radius: 10px;
    background: rgba(248, 210, 78, 0.1);
    resize: none;
}

.modal-form-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 121px;
    display: flex;
    justify-content: center;
    background: #F8D24E;
    border-radius: 10px;
    border: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

.modals-text:last-child {
    margin-top: 24px;
}

.button-modal {
    display: flex;
    justify-content: center;
}

.modal-three {
    display: flex;
    flex-direction: column;
    width: 568px;
    height: 449px;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}

.modal-four {
    display: flex;
    flex-direction: column;
    width: 568px;
    height: 458px;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}

.modal-five {
    display: flex;
    flex-direction: column;
    width: 568px;
    height: 668px;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}

.modal-text {
    width: 448px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.all-five-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.map-button {
    display: flex;
    justify-content: center;
}

.button-modal-close {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
    margin-top: 12px;
    margin-right: 12px;
}

.svg-modal-close {
    width: 24px;
    height: 24px;
}

.iframe-div {
    display: flex;
    justify-content: center;
}

.youtube-iframe {
    border-radius: 10px;
    display: flex;
    align-items: center ;
    margin-top: 32px;
    justify-content: center;
}

.map-iframe {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.open-map-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background: #F8D24E;
    border-radius: 10px;
    border: 0;
    padding: 12px 34px 12px 34px;
    margin-top: 32px;
    cursor: pointer;
}

.modal-text {
    display: flex;
    justify-content: center;
}

::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #131313;
}


@media screen and (min-width: 320px) and (max-width: 768px)
{

.modal-three {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 459px;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}

.youtube-iframe {
    width: 224px;
    height: 199px;
    margin-top: 20px;
}

.map-iframe {
    width: 224px;
    height: 199px;
    margin-top: 20px;
}

.open-map-button {
    margin-top: 24px;
}

.modal-input {
    width: 224px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 12px;
}

.modal-four {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 365px;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}

.modal-five {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 674px;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}

.modal-header {
    width: 222px;
}

.modals-text {
    width: 222px;
    margin-bottom: 24px;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.modal-text {
    width: 224px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
}

.button-modal-close {
    position: absolute;
}

.modals-header {
    padding-top: 28px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.modal-header {
    padding-top: 28px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

}
